// Import other Sass files
@import "../../_lib/flat-colors/flat-colors";
@import "custom_variables";
@import "custom_bootstrap";
@import "sanfrancisco";
@import "../../_lib/fontawesome/scss/font-awesome";

/* Main
-------------------------------------------------- */
html,
body {
	height: 100%;
}

body {
	font-family: "San Francisco Text", sans-serif;
	background-color: $flat-wet-asphalt;
	color: $flat-clouds;
	text-align: center;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);

	&.snowman {
		background: url(../img/snowman.jpg) no-repeat center center fixed;
		background-size: cover;
	}
	&.snowbarn {
		background: url(../img/snowbarn.jpg) no-repeat center center fixed;
		background-size: cover;
	}
	&.map {
		background: url(../img/map.jpg) no-repeat center center fixed;
		background-size: cover;
		text-shadow: none;

		$map-color: $flat-belize-hole;
		$map-accent: $flat-nephritis;

		.masthead-brand {
			color: $map-color;
			font-size: 28px;
		}
		.masthead-nav li {
			a {
				font-size: 18px;
				@include color-opacity($map-color, .75);

				&:hover,
				&:focus {
					color: $map-color;
					border-bottom-color: $map-color;
				}
			}

			&.active {
				a,
				a:hover,
				a:focus {
					color: $map-accent;
					border-bottom-color: $map-accent;
				}
			}
		}
		
		&:before {
			content: '';
			position: absolute;
			overflow:hidden;
		    z-index: -1;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-image: linear-gradient(
			    to bottom,
			    rgba(255, 255, 255, 1) 0%,
			    rgba(255, 255, 255, 0) 30%,
			    rgba(255, 255, 255, 0) 50%,
			    rgba(255, 255, 255, 1) 100%
			);
		}

		.cover {
			color: $map-color;
		}

		.footer {
			padding-top: 30px;
			p {
				color: $flat-asbestos;
				text-shadow: none;
			}
		}
	}
}

::selection {
	@include background-opacity($flat-sunflower, .5);
}

/* Site wrapper
-------------------------------------------------- */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;
	box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}

.cover-container {
	margin-right: auto;
	margin-left: auto;
}

.inner {
	padding: 30px;
}

/* Header
-------------------------------------------------- */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav {
	li {
		display: inline-block;

		&+ li {
			margin-left: 20px;
		}

		a {
			padding-right: 0;
			padding-left: 0;
			font-size: 16px;
			font-weight: bold;
			border-bottom: 2px solid transparent;
			@include color-opacity($flat-clouds, .75);

			&:hover,
			&:focus {
				color: $flat-clouds;
				background-color: transparent;
				border-bottom-color: $flat-clouds;
			}
		}

		&.active {
			a,
			a:hover,
			a:focus {
				color: $flat-sunflower;
				border-bottom-color: $flat-sunflower;
			}
		}
	}
}

@media (min-width: 480px) {
	.masthead-brand {
		float: left;
	}
	.masthead-nav {
		float: right;
	}
}

/* Cover
-------------------------------------------------- */
.cover {
	// padding: 0 20px;
	bottom: 30px;
	left: 0px;
	position: absolute;

	&.btn-lg {
		padding: 10px 20px;
		font-weight: bold;
	}

	.cover-subheading i {
		color: $flat-alizarin;
	}
}

/* Footer
-------------------------------------------------- */
.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding-top: 20px;
	text-shadow: 0 1px 3px rgba(0,0,0,.5);

	p {
		color: $flat-clouds;
	}

	.social {
		li {
			font-size: 24px;

			a {
				color: $flat-clouds;

				&:hover,
				&:focus {
					&.google {
						@include color-opacity($flat-alizarin, .7);
					}
					&.linkedin {
						@include color-opacity($flat-belize-hole, .7);
					}
					&.github {
						@include color-opacity($flat-midnight-blue, .7);
					}
					&.email {
						@include color-opacity($flat-sunflower, .7);
					}
				}
			}
		}
	}
}

/* Affix and center
-------------------------------------------------- */
@media (min-width: 768px) {
	/* Pull out the header and footer */
	.masthead {
		position: fixed;
		top: 0;
	}
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.masthead,
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 992px) {
	.masthead,
	.cover-container {
		width: 700px;
	}
}

/* Map
-------------------------------------------------- */
#map {
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
}